**/node_modules
**/.idea
**/.git
frontend/build
*/venv
*/.env
*/db.sqlite3

*/wheels
*/wheelswin

.gitignore
.gitattributes
.dockerignore

docker-compose*.yml

guacozy_server/tmp
guacozy_server/guacozy_server/ldap_config.py
README.md
LICENSE

local/
