asgiref==3.2.3
attrs==19.3.0
autobahn==19.11.1
Automat==0.8.0
cffi==1.13.2
channels==2.3.0
constantly==15.1.0
cryptography==2.8
daphne==2.3.0
Django==2.2.8
django-admin-list-filter-dropdown==1.0.3
django-auth-ldap==2.0.0
django-encrypted-model-fields==0.5.8
django-environ==0.4.5
django-grappelli==2.13.1
django-ipware==2.1.0
django-js-asset==1.2.2
django-model-utils==3.2.0
django-mptt==0.10.0
django-mptt-admin==0.7.1
django-polymorphic==2.1.2
django-semanticui-forms==1.6.5
djangorestframework==3.10.3
future==0.18.2
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
psycopg2==2.8.3
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.19
pyguacamole==0.9
PyHamcrest==1.9.0
python-memcached==1.59
pytz==2019.3
rules==2.1
six==1.13.0
sqlparse==0.3.0
Twisted==19.10.0
txaio==18.8.1
zope.interface==4.7.2
