channels==2.3.0
Django==2.2.8
django-admin-list-filter-dropdown==1.0.3
django-encrypted-model-fields==0.5.8
django-environ==0.4.5
django-grappelli==2.13.1
django-ipware==2.1.0
django-model-utils==3.2.0
django-mptt==0.10.0
django-mptt-admin==0.7.1
django-polymorphic==2.1.2
django-semanticui-forms==1.6.5
djangorestframework==3.10.3
psycopg2==2.8.3
pyguacamole==0.9
python-memcached==1.59
pytz==2019.3
rules==2.1
sqlparse==0.3.0
