body {
    background-image: url('../img/earth.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login-container {
    height: 100%;
    display: flex;
    align-items: center;
}

#login-segment {
    background-color: unset;
    width: 600px;
    margin: 0 auto;
}

#login-segment .logingrid {
    background-color: rgba(0, 0, 0, 0.3);
}

#login-segment label{
    color: #FFFFFF;
}
